<template>
    <!-- <link href="../../resources/css/styles.css" rel="stylesheet" /> -->

<center>
  <div class="card" style="width:600px">
        <div class="card-body">
                <h4 class="card-title">Register for MyPics</h4>
                <div id="errorMsg" innerhtml.bind="loginError"></div>
        </div>
      </center>
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      <center>
      <div class="card" style="width:600px">
          <div class="card-body">
                <form class="form-inline">

    <!-- <div class="col-lg-6 col-lg-offset-6">   -->
        
        
            <form class="form-inline">
                           
 <input value.bind="user.firstName" class="form-control" id="firstName" placeholder="First Name">
 &nbsp;
 <input value.bind="user.lastName" class="form-control" id="lastName" placeholder="Last Name"> 

</form>
   &nbsp;
&nbsp;
&nbsp;
<br>
    <form class="form-inline">
 <input value.bind="user.email" type="email" class="form-control" id="email" placeholder="Email"> &nbsp;&nbsp;&nbsp;
 <input value.bind="user.password" type="password" class="form-control" id="password" placeholder="Password">
</form> </p>
    </form>
<br>
    <button type="button" class="btn btn-primary" click.trigger="save()">Register</button>
</div>
</div>
</div>  
</div>  
</div>  
</center>  


</center>
</template>

    <!-- <template>
        <div id="errorMsg" innerhtml.bind="registerError"></div>
       <center> <div class="card" style="width:800px">
                <div class="card-body">
                    <h1>Register for a MyPics Account</h1>
                <center>
                        <form class="form-inline">
                            <table width="100%" border="0" cellpadding="6">                          
            First Name: <input value.bind="user.firstName" class="form-control" id="firstName" placeholder="First Name">
        </table>
        <table width="100%" border="0" cellpadding="6">
            Last Name: <input value.bind="user.lastName" class="form-control" id="lastName" placeholder="Last Name"> 
    </table>
    </form> <p>
            <form class="form-inline">
                <table width="100%" border="0" cellpadding="6">
            Email: <input value.bind="user.email" type="email" class="form-control" id="email" placeholder="Email"> 
        </table>   
        <table width="100%" border="0" cellpadding="6"> 
        Password: <input value.bind="user.password" type="password" class="form-control" id="password" placeholder="Password">
        </table>
     </form> </p>
        <button type="button" class="btn btn-primary" click.trigger="save()">Register</button>
    <button type="button" class="btn btn-link" click.trigger="back()">Go to Login</button>
</form> 
</center>
    </div>
    </div>
</center>
</template> -->


<!-- <template>
    <link href="../../resources/css/styles.css" rel="stylesheet" />
    <div id="errorMsg" innerhtml.bind="loginError"></div>
    <center>
      <div class="card" style="width:600px">
        <div class="card-body">
          <h4 class="card-title">Register for a MyPics Account</h4>
          <div class="form-group col">
            <div class="col-lg-6 col-lg-offset-6">
              <table width="100%" border="0" cellpadding="6">
                <tr>
                  <td>
                      <form class="form-inline">
                    <input value.bind="user.firstName" class="form-control" id="firstName" placeholder="First Name"></input>
                 
                 </form> </td>
                </tr>
              </table>
  
              <table width="100%" border="0" cellpadding="6">
                <tr>
                  <td>
                      <form class="form-inline">
                    <input value.bind="user.lastName" class="form-control" id="lastName" placeholder="Last Name"></input>
                  </form>
                  </td>
                </tr>
              </table>
  
              <table width="100%" border="0" cellpadding="6">
                <tr>
                  <td>
                      <form class="form-inline">
                    <label for="email">
  
                    </label>
                    <input value.bind="email" type="email" class="form-control" id="email" placeholder="Email"></input>
                 </form>
                  </td>
                </tr>
              </table>
  
  
              <table width="100%" border="0" cellpadding="6">
                <tr>
                  <td>
                      <form class="form-inline">
                    <label for="password">
                    </label>
                    <input value.bind="password" type="password" class="form-control" id="password" placeholder="Password"></input>
                  </form>
                  </td>
                </tr>
              </table>
  
              <table width="100%" border="0" cellpadding="6">
                <tr>
                  <td>
                    <button click.trigger="save()" class="btn btn-primary topMargin">Create Account</button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
  
    </center>
  </template>
   -->
  
  